<div style="border:2px solid #ffc107; background:#fffde7; border-radius:8px; padding:16px; margin:16px 0;">
  <p style="display:flex; align-items:center; margin-bottom:10px;">
    <span style="font-size:26px; color:#e65100; margin-right:10px;">⚠️</span>
    <span style="font-size:18px; font-weight:700; color:#b26a00;">CẢNH BÁO: Google Colab hiện đang chặn IP từ Vietcap, không sử dụng được!</span>
  </p>
  <ul style="font-size:16px; color:#333; margin-left:38px; margin-top:0;">
    <li><span style="color:#1976d2; font-weight:600;">Ưu tiên 1:</span> Hãy dùng <b>GitHub Codespaces</b> để chạy thử <code>vnstock</code> nhanh nhất. Cần có tài khoản Github</li>
    <li><span style="color:#0057c7; font-weight:600;">Ưu tiên 2:</span> Có thể thử tiếp với <b>Deepnote</b> khi cần trải nghiệm chia sẻ. Đăng nhập bằng Google để sử dụng.</li>
    <li><span style="color:#d32f2f; text-decoration:line-through;">Colab</span> <span style="color:#d32f2f;">(đang bị chặn IP, không phù hợp hiện tại)</span></li>
  </ul>
  <p style="margin-top:12px; color:#b26a00;">
    Vui lòng chọn phương án thay thế theo thứ tự trên để đảm bảo truy cập không bị gián đoạn khi thử nghiệm hoặc cài đầy đủ môi trường Python trên máy.
  </p>
</div>

<p>
  <a href="https://codespaces.new/thinh-vu/vnstock" target="_blank" style="display:inline-block; vertical-align:middle;">
    <img src="https://img.shields.io/badge/Open%20in-GitHub%20Codespaces-blue?logo=github" alt="Open in GitHub Codespaces" style="height:20px; vertical-align:middle;">
  </a>
  <a href="https://deepnote.com/workspace/Vnstockscom-3ff51cb7-3b7c-4cf5-b082-182b28b9b623/project/Vnstock-Demo-Notebooks-42230c88-0071-4aca-bfc1-70a5374f2371/notebook/1vietnamstockvnstock-9d4dd94bfd5b42a09b2fc8175ffd4408?utm_source=share-modal&utm_medium=product-shared-content&utm_campaign=notebook&utm_content=42230c88-0071-4aca-bfc1-70a5374f2371" target="_blank" style="display:inline-block; vertical-align:middle; margin-left:8px;">
    <img src="https://deepnote.com/favicon.ico" alt="Deepnote" style="height:22px; vertical-align:middle; border-radius:4px; margin-right:6px;">
    <span style="font-size:16px; font-weight:500; vertical-align:middle; color:#222222;">Open in Deepnote</span>
  </a>
  <a href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb" target="_blank" style="display:inline-block; vertical-align:middle; margin-left:8px;">
    <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab" style="height:20px; vertical-align:middle;">
  </a>
</p>

# Mục lục

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [ ]:
## Có thể gọi các class chi tiết trong thư viện thay vì sử dụng cấp cao nhất là Vnstock
from vnstock import Listing, Quote, Company, Finance, Trading, Screener

Bạn cũng có thể gọi các class trong theo vị trí chi tiết của nguồn dữ liệu

```python
from vnstock.explorer.vci import Listing, Quote, Company, Finance, Trading
```

hoặc
```python
from vnstock.explorer.tcbs import Quote, Company, Finance, Trading, Screener
```

# II. Truy xuất dữ liệu - CK Việt Nam

* Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau. Luồng công việc minh hoạ dưới đây giả định bạn bắt đầu với 1 mã chứng khoán cần phân tích, mặc định là VN30F1M. Bạn có thể thay đổi sang mã bất kỳ bằng cách nhập tham số `symbol` tại hàm chức năng thay vì khởi tạo lại đối tượng. Ví dụ, mã `VN30F1M` được gán khi tạo đối tượng, nhưng khi gọi dữ liệu giá lịch sử, bạn có thể cập nhật mã mới là `ACB` thay vì khởi tạo lại đối tượng một cách bất tiện: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

## Listing: Liệt kê danh sách chứng khoán

In [ ]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
from vnstock import Listing
listing = Listing()

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [ ]:
listing.all_symbols()

     symbol                                         organ_name
0       YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1       YEG                     Công ty Cổ phần Tập đoàn Yeah1
2       YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3       YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4       XPH                    Công ty Cổ phần Xà phòng Hà Nội
...     ...                                                ...
1711    AAS            Công ty Cổ phần Chứng khoán SmartInvest
1712    AAM                    Công ty Cổ Phần Thủy Sản MeKong
1713    AAH                           Công ty Cổ phần Hợp Nhất
1714    AAA                  Công ty Cổ phần Nhựa An Phát Xanh
1715    A32                                 Công ty Cổ phần 32

[1716 rows x 2 columns]

### Liệt kê mã CP theo sàn (đầy đủ)

In [ ]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
listing.symbols_by_exchange()

,symbol,exchange,type,organ_short_name,organ_name,product_grp_id
0,YTC,UPCOM,STOCK,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,UPX
1,YEG,HSX,STOCK,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1,STO
2,YBM,HSX,STOCK,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,STO
3,YBC,UPCOM,STOCK,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,UPX
4,XPH,UPCOM,STOCK,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội,UPX
...,...,...,...,...,...,...
2978,41I1G3000,HNX,FU,VN30 Index Futures 032026,VN30 Index Futures 032026,FIO
2979,41I1F8000,HNX,FU,VN30 Index Futures 082025,VN30 Index Futures 082025,FIO
2980,41I1F7000,DELISTED,FU,41I1F7000 - HĐTL,41I1F7000 - HĐTL,FIO
2981,41BAG3000,HNX,FU,10-year Government Bond Futures 032026,10-year Government Bond Futures 032026,FBX
2982,41B5G3000,HNX,FU,5-year Government Bond Futures 032026,5-year Government Bond Futures 032026,FBX

### Liệt kê mã CP theo ngành icb

In [ ]:
listing.symbols_by_industries()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,DVT,Trung tâm Đào tạo nghiệp vụ Giao thông vận tải...,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Đào tạo & Việc làm,CT,2000,2700,2790,2793
1,ALT,Công ty Cổ phần Văn hóa Tân Bình,Truyền thông,Truyền thông,"Sách, ấn bản & sản phẩm văn hóa",CT,5000,5500,5550,5557
2,HII,Công ty Cổ phần An Tiến Industries,Hóa chất,Hóa chất,"Nhựa, cao su & sợi",CT,1000,1300,1350,1353
3,ARM,Công ty Cổ phần Xuất nhập khẩu Hàng không,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Nhà cung cấp thiết bị,CT,2000,2700,2790,2797
4,APC,Công ty Cổ phần Chiếu xạ An Phú,Dược phẩm,Y tế,Công nghệ sinh học,CT,4000,4500,4570,4573
...,...,...,...,...,...,...,...,...,...,...
1581,XMC,Công ty cổ phần Đầu tư và Xây dựng Xuân Mai,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1582,XMD,Công ty Cổ phần Xuân Mai - Đạo Tú,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1583,CQT,Công ty Cổ phần Xi măng Quán Triều VVMI,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1584,XPH,Công ty Cổ phần Xà phòng Hà Nội,Hàng cá nhân,Hàng cá nhân & Gia dụng,Hàng cá nhân,CT,3000,3700,3760,3767
1585,XMP,Công ty Cổ phần Thủy điện Xuân Minh,Sản xuất & Phân phối Điện,"Điện, nước & xăng dầu khí đốt",Sản xuất & Phân phối Điện,CT,7000,7500,7530,7535

### Danh sách cổ phiếu theo nhóm

In [ ]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### Danh sách mã ngành theo mã icb

In [ ]:
listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Viễn thông,Telecommunications,6000,1
151,Tiện ích Cộng đồng,Utilities,7000,1
152,Tài chính,Financials,8000,1
153,Ngân hàng,Banks,8301,1
154,Công nghệ Thông tin,Technology,9000,1

## Quote: Giá chứng khoán

In [ ]:
from vnstock import Quote
quote = Quote(symbol='ACB', source='VCI')

#### Giá lịch sử

##### Cổ phiếu

In [ ]:
df = quote.history(start='2024-01-01', end='2025-03-19', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  22.02  22.10  21.81  21.81   8893622
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115

[300 rows x 6 columns]

##### Hợp đồng tương lai

In [ ]:
quote.history(symbol='VN30F1M', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  22.02  22.10  21.81  21.81   8893622
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115

[300 rows x 6 columns]

In [ ]:
quote.history(symbol='VN30F2411', start='2024-01-02', end='2025-03-19', interval='1D')

         time    open    high     low   close  volume
0  2024-09-20  1331.9  1338.7  1315.0  1331.5     496
1  2024-09-23  1332.0  1333.3  1326.6  1327.3     253
2  2024-09-24  1327.3  1335.8  1323.9  1335.1     254
3  2024-09-25  1334.8  1350.8  1334.8  1344.1     511
4  2024-09-26  1346.8  1366.5  1346.8  1358.2     575
5  2024-09-27  1359.7  1363.0  1353.1  1357.0     241
6  2024-09-30  1354.9  1360.3  1351.2  1357.8     324
7  2024-10-01  1362.3  1375.0  1359.9  1363.0     379
8  2024-10-02  1354.5  1362.3  1353.9  1361.3     299
9  2024-10-03  1362.0  1377.9  1351.6  1355.0     714
10 2024-10-04  1354.2  1354.6  1344.0  1345.0     616
11 2024-10-07  1349.9  1351.3  1335.9  1340.6     567
12 2024-10-08  1341.5  1350.3  1339.4  1345.0     524
13 2024-10-09  1347.5  1360.0  1345.2  1360.0     820
14 2024-10-10  1365.0  1374.8  1361.0  1366.2     836
15 2024-10-11  1368.5  1368.9  1357.2  1368.0     940
16 2024-10-14  1379.8  1379.8  1361.6  1363.5    7235
17 2024-10-15  1365.0  1374.1  1359.8  1361.9   19903
18 2024-10-16  1360.1  1365.3  1358.0  1362.9   25411
19 2024-10-17  1365.0  1369.5  1353.8  1369.0   55333
20 2024-10-18  1374.6  1377.9  1363.8  1365.9  257597
21 2024-10-21  1364.0  1369.9  1362.5  1363.9  165731
22 2024-10-22  1360.0  1363.3  1350.0  1352.2  195827
23 2024-10-23  1353.0  1355.4  1345.1  1354.0  210171
24 2024-10-24  1352.5  1354.1  1336.1  1338.0  233341
25 2024-10-25  1338.5  1339.8  1326.0  1327.2  226084
26 2024-10-28  1330.0  1332.4  1327.2  1332.0  130507
27 2024-10-29  1334.0  1341.0  1334.0  1339.4  164121
28 2024-10-30  1341.6  1342.7  1331.5  1342.0  186935
29 2024-10-31  1339.0  1347.8  1333.7  1343.5  202412
30 2024-11-01  1340.4  1340.4  1326.1  1330.4  215897
31 2024-11-04  1332.8  1332.8  1317.1  1318.5  213933
32 2024-11-05  1319.3  1324.0  1317.4  1319.0  142162
33 2024-11-06  1325.0  1341.8  1324.0  1341.0  214890
34 2024-11-07  1342.0  1343.6  1333.5  1334.7  190000
35 2024-11-08  1337.5  1340.3  1318.3  1324.0  220730
36 2024-11-11  1323.6  1324.0  1306.1  1320.1  233948
37 2024-11-12  1321.1  1323.5  1302.7  1310.0  246958
38 2024-11-13  1305.7  1313.1  1298.2  1307.3  265510
39 2024-11-14  1306.0  1309.9  1292.9  1292.9  251563
40 2024-11-15  1292.7  1292.7  1275.1  1275.6  253504
41 2024-11-18  1271.5  1280.3  1261.8  1273.2  245512
42 2024-11-19  1272.4  1274.8  1262.2  1262.3  265393
43 2024-11-20  1260.8  1280.0  1253.5  1270.0  322061
44 2024-11-21  1267.8  1283.4  1264.6  1281.3  215891

##### Chỉ số

In [ ]:
quote.history(symbol='VNINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  22.02  22.10  21.81  21.81   8893622
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115

[300 rows x 6 columns]

In [ ]:
quote.history(symbol='HNXINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  22.02  22.10  21.81  21.81   8893622
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115

[300 rows x 6 columns]

In [ ]:
quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  22.02  22.10  21.81  21.81   8893622
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115

[300 rows x 6 columns]

##### Chứng quyền

In [ ]:
quote.history(symbol='CFPT2314', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  22.02  22.10  21.81  21.81   8893622
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115

[300 rows x 6 columns]

##### Trái phiếu niêm yết

In [ ]:
quote.history(symbol='CII424002', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  16.81  17.37  16.81  17.16  13896933
1   2024-01-03  17.19  17.55  17.02  17.55   9817807
2   2024-01-04  17.69  18.00  17.62  17.76  23605373
3   2024-01-05  17.76  17.86  17.58  17.86   9282598
4   2024-01-08  18.04  18.07  17.69  17.79  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  22.02  22.10  21.81  21.81   8893622
296 2025-03-14  21.89  21.89  21.64  21.72  11556328
297 2025-03-17  21.81  21.93  21.72  21.89   5668733
298 2025-03-18  21.97  22.18  21.93  21.97   6013116
299 2025-03-19  21.97  21.97  21.76  21.89   7918115

[300 rows x 6 columns]

#### Intraday: dữ liệu khớp lệnh

In [ ]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

                          time  price  volume match_type         id
0    2025-08-01 09:15:00+07:00   23.0     200       Sell  334584286
1    2025-08-01 09:15:00+07:00   23.0    1000       Sell  334584328
2    2025-08-01 09:15:00+07:00   23.0   21800       Sell  334584329
3    2025-08-01 09:15:00+07:00   23.0     300       Sell  334584330
4    2025-08-01 09:15:00+07:00   23.0     100       Sell  334584331
...                        ...    ...     ...        ...        ...
3500 2025-08-01 14:45:00+07:00   23.0     500        Buy  335420622
3501 2025-08-01 14:45:00+07:00   23.0    1000        Buy  335420621
3502 2025-08-01 14:45:00+07:00   23.0     300        Buy  335420620
3503 2025-08-01 14:45:00+07:00   23.0    2000        Buy  335420627
3504 2025-08-01 14:45:00+07:00   23.0   10000        Buy  335420976

[3505 rows x 5 columns]

In [ ]:
# Bước giá và khối lượng giao dịch: realtime
quote.price_depth('ACB')

     price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  23050.0     1200.0         1200.0             0.0                  0.0
1  23000.0  1680400.0      1373800.0        306600.0                  0.0
2  22950.0  1026300.0       537800.0        488500.0                  0.0
3  22900.0  1662400.0       494400.0       1168000.0                  0.0
4  22850.0  2821700.0      1081000.0       1740700.0                  0.0
5  22800.0   124600.0            0.0        124600.0                  0.0

## Trading: Giao dịch

In [ ]:
from vnstock import Trading
trading = Trading(source='VCI')

### Bảng giá

In [ ]:
trading.price_board(['ACB'])

  listing                                                                  \
   symbol ceiling  floor ref_price stock_type exchange     trading_status
0     ACB   24600  21400     23000      STOCK      HSX  TRADING_ACTIVATED

                                                ...     bid_ask               \
  security_status last_trading_date issue_date  ... bid_2_price bid_2_volume
0               N              None       None  ...       22850       243100

                                                                              \
  bid_3_price bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume
0       22800      1155700       23000       477600       23050       224600


  ask_3_price ask_3_volume
0       23100       258600

[1 rows x 66 columns]

In [ ]:
trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                          0       1      2      3
listing symbol          VCB     ACB    TCB    BID
        ceiling       64400   24600  36350  40450
        floor         56000   21400  31650  35250
        ref_price     60200   23000  34000  37850
        stock_type    STOCK   STOCK  STOCK  STOCK
...                     ...     ...    ...    ...
bid_ask ask_1_volume  69100  477600    100  12500
        ask_2_price   60300   23050  34200  37300
        ask_2_volume  74900  224600   6100  64500
        ask_3_price   60400   23100  34250  37350
        ask_3_volume  45900  258600  20000    900

[66 rows x 4 columns]

## Company: Thông tin công ty

> Đã bổ sung nguồn dữ liệu từ VCI từ bản Vnstock3.2.0

### New - VCI

In [ ]:
from vnstock import Company
company = Company(symbol='ACB', source='VCI')

Loại bỏ đoạn mã `.head()` để xem toàn bộ dữ liệu thay vì chỉ lấy 5 dòng đầu tiên.

#### Hồ sơ

In [ ]:
company.overview()

DataFrame.applymap has been deprecated. Use DataFrame.map instead.

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,5136656599,- Ngày 24/04/1993: Ngân hàng Thương mại Cổ ph...,Ngân hàng Thương mại Cổ phần Á Châu (ACB) được...,Ngân hàng,Ngân hàng,Ngân hàng,5136656599,51366565990000

#### Cổ đông

In [ ]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,85508303,Vietnam Enterprise Investments Limited,212880184,5.480880e-02,2024-09-13
1,85500913,Phạm Thị Thu Hà,285000,4.990000e-02,2016-05-20
2,85484502,Estes Investments Limited,83010435,4.990000e-02,2024-05-15
3,85503137,Sather Gate Investments Limited,193907186,4.990000e-02,2024-05-15
4,85505125,Trần Hùng Huy,153062159,3.940000e-02,2025-01-24
...,...,...,...,...,...
83,85502662,Quỹ Đầu tư Cổ phiếu Năng động Bảo Việt,22065,1.327000e-05,2025-02-03
84,85482764,Đinh Thị Hoa,67200,1.200000e-05,2025-01-24
85,85490673,Ngô Tấn Long,63442,1.000000e-05,2025-07-03
86,85478661,Công ty Cổ phần Chứng khoán Thiên Việt,5285,1.500000e-06,2022-07-25
87,85492511,Nguyễn Hồng Nga,2008,7.000000e-07,2022-08-31

#### Công ty con

In [ ]:
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name,type
0,24200338,ACBA,1,Công Ty TNHH Quản Lý Nợ Và Khai Thác Tài Sản N...,công ty con
1,24200339,ACBL,1,Công Ty TNHH Một Thành Viên Cho Thuê Tài Chính...,công ty con
2,24200340,ACBS,1,Công ty TNHH Chứng khoán ACB,công ty con
0,24200342,ACBD,None,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,công ty liên kết
1,24200341,SGGS,None,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,công ty liên kết

#### Công ty liên kết

In [ ]:
# Phương thức này không có trong nguồn TCBS
company.affiliate()

,id,sub_organ_code,organ_name,ownership_percent
0,24200342,ACBD,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,None
1,24200341,SGGS,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,None

#### Lãnh đạo

In [ ]:
company.officers(filter_by='working').head() # filter_by='all' hoặc 'working' hoặc 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,6,Trần Hùng Huy,Chủ tịch Hội đồng Quản trị,Chủ tịch HĐQT,2025-01-24,0.0394,153062159
1,7,Đặng Thu Thủy,Thành viên Hội đồng Quản trị,TV HĐQT,2025-01-24,0.0137,53350036
2,11,Đặng Phú Vinh,Giám đốc khối,GĐ Khối,2025-01-24,0.0042,16454507
3,12,Đỗ Minh Toàn,Tổng Giám đốc,TGĐ,2025-01-24,0.0008,3202886
4,8,Nguyễn Thành Long,Phó Chủ tịch Hội đồng Quản trị,Phó Chủ tịch HĐQT,2025-01-24,0.0004,1647067

#### Tin tức

In [ ]:
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,8080153,ACB: Báo cáo tình hình quản trị 6 tháng đầu nă...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-bao-cao-tinh...,None,1753978240000,None,vi,11657956,,<p>Ngân hàng Thương mại Cổ phần Á Châu Báo cáo...,23000,23000,21400,24600,0.000000
1,8002767,ACB: Nghị quyết HĐQT về việc bổ nhiệm lại Phó ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-nghi-quyet-h...,None,1753269761000,None,vi,11644782,,<p>Ngân hàng Thương mại Cổ phần Á Châu công bố...,23000,22900,21300,24500,0.004367
2,7970098,"ACB: Nghị quyết HĐQT số 3745, 3747 ngày 16/07/...",,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/vi/tin-tuc/acb-nghi-quyet-h...,None,1752848657000,None,vi,11639053,,<p>Ngân hàng Thương mại Cổ phần Á Châu thông b...,22650,22450,20900,24000,0.008909

#### Sự kiện

In [ ]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,40234158,"ACB - Niêm yết bổ sung 582,607,554 cổ phiếu","ACB- Lists additional 582,607,554 shares",2024-06-28,2024-06-27,http://fiinpro.com/News/Detail/11231512?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
1,18130,Niêm yết thêm,,2011-03-07,2011-03-11,,AIS,NaN,NaN,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
2,9972801,"ACB - Niêm yết bổ sung 675,487,019 cổ phiếu","ACB- Lists additional 675,487,019 shares",2022-07-12,2022-07-06,http://fiinpro.com/News/Detail/10410854?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing

#### Báo cáo phân tích

In [ ]:
company.reports()

,date,description,link,name
0,2025-07-24T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD 6 thá...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Chất lượng tài sản cải thiện đáng kể; NI...
1,2025-05-27T00:00:00Z,"- Chúng tôi điều chỉnh giảm 2,4% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +32,3%] - NIM dự kiến sẽ phải chịu áp..."
2,2025-04-24T00:00:00Z,1. Tác động của Thuế quan đối với ACB: Tác độn...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Kỳ vọng tín dụng tăng mạnh và NIM cải th...
3,2025-04-23T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD quý 1...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Lợi nhuận thấp hơn kỳ vọng do NIM giảm -...
4,2025-04-08T00:00:00Z,Chúng tôi đã tham dự ĐHCĐ của Ngân hàng TMCP Á...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tăng trưởng tín dụng được kỳ vọng sẽ nằm...
5,2025-01-22T00:00:00Z,Ngân hàng Thương Mại Cổ Phần Á Châu (ACB) đã c...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tập trung vào tăng trưởng tín dụng hơn t...
6,2024-10-24T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD 9 thá...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB – NOII thấp hơn dự kiến, ảnh hưởng tiêu cự..."
7,2024-09-09T00:00:00Z,- Chúng tôi tiếp tục duy trì giá mục tiêu đối ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +35,0%] - Tăng dự báo tăng trưởng tín..."
8,2024-07-23T00:00:00Z,ACB đã công bố KQKD nửa đầu năm 2024 với thu n...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - Tín dụng tăng trưởng mạnh, chất lượng tà..."
9,2024-06-04T00:00:00Z,"- Chúng tôi điều chỉnh tăng 8,6% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +33,7%] - NIM tương đối đi ngang tron..."

#### Tình hình tài chính

In [ ]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,ACB,2025,2,1753432332947,14298695000000,0.146214,4881159000000,0.092326,0,0.201725,...,0,1.697809,9.704445,0.043478,0,0,0,9.704445,None,0

#### Thống kê giao dịch

In [ ]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,ACB,HOSE,118143101777000,24600,21400,23000,23000,23000,23000,0,...,23950,17337,0.262772,-0.035639,504001,1540996979,16113842,1540756678,0.299953,0.3

### TCBS

In [ ]:
from vnstock import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

2025-08-03 23:15:24 - vnstock.common.data.data_explorer - INFO - TCBS không cung cấp thông tin danh sách. Dữ liệu tự động trả về từ VCI.

#### Tổng quan

In [ ]:
company.overview()

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,VCB,HOSE,Banks,NH,25183,0.22,8355.7,8355.7,2008,24306,2.4,-0.006,-0.03,-0.186,Vietcombank,https://vietcombank.com.vn,289,8355

#### Hồ sơ

In [ ]:
company.profile()

,symbol,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,VCB,Joint Stock Commercial Bank For Foreign Trade ...,Joint Stock Commercial Bank For Foreign Trade...,"October 30, 1962: Bank for Foreign Trade of ...",None,Risks related to geopolitical instability and...,Account service Mobilizing capital service; ...,"As the leading bank in Vietnam, one of the..."

#### Cổ đông

In [ ]:
company.shareholders()

                share_holder  share_own_percent
0  The State Bank Of Vietnam             0.7480
1          Mizuho Bank, Ltd.             0.1500
2                      Other             0.0207

#### Giao dịch nội bộ

In [ ]:
company.insider_deals().head(3)

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2025-05-15,Cổ đông nội bộ,Mua,20000.0,58700.0,0.026
1,2025-02-20,Cổ đông nội bộ,Mua,10000.0,61338.0,-0.019
2,2023-12-21,Cổ đông nội bộ,Mua,5000.0,54114.0,0.112

#### Công ty con, liên kết

In [ ]:
company.subsidiaries().head()

                                    sub_company_name  sub_own_percent
0  Vietnam Foreign Trade Joint Stock Bank Securit...              1.0
1  Money Transfer Company Limited Joint Stock Com...              1.0
2             Vietcombank Financial Leasing Co., Ltd              1.0
3    Vietnam Finance Company In Hong Kong - Vinafico              1.0
4                                   Vietnam Neo Bank              1.0

#### Ban lãnh đạo

In [ ]:
company.officers().head()

,officer_name,officer_position,officer_own_percent
8,Nguyen Danh Luong,Spokesman,0.0
11,Le Hoang Tung,Spokesman,0.0
13,Le Viet Anh,ROOT,0.0
14,Le Viet Anh,Person in charge of Corporate governace,0.0
9,Do Thi Mai Huong,Member of Supervisors Board,0.0

#### Sự kiện

In [ ]:
company.events().head()

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,53.9,46.0,2596403,60900.0,-100.0,-0.002,0.068,VCB - Financial Statement Quarter 2/2025,KQQY,2025-07-30,2025-07-30,1753-01-01,1753-01-01,VCB - Financial Statement Quarter 2/2025
1,53.9,46.0,2596408,60900.0,-100.0,-0.002,0.068,VCB - Financial Statement Quarter 2/2025 (hold...,KQQY,2025-07-30,2025-07-30,1753-01-01,1753-01-01,VCB - Financial Statement Quarter 2/2025 (hold...
2,50.6,46.0,2592186,58700.0,0.0,0.000,-0.022,VCB - Report Insider Transaction,DDALL,2025-05-15,2025-05-14,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...
3,39.6,32.0,2590699,57300.0,-200.0,-0.003,-0.105,VCB - Financial Statement Quarter 1/2025,KQQY,2025-04-29,2025-04-29,1753-01-01,1753-01-01,VCB - Financial Statement Quarter 1/2025
4,39.6,32.0,2590719,57300.0,-200.0,-0.003,-0.105,VCB - Financial Statement Quarter 1/2025 (hold...,KQQY,2025-04-29,2025-04-29,1753-01-01,1753-01-01,VCB - Financial Statement Quarter 1/2025 (hold...

#### Tin tức

In [ ]:
company.news().head()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,53.2,44.0,60200.0,-700.0,-0.011,0.056,11656277,"Vietcombank (VCB): 6 tháng đầu năm 2025, lợi n...",TCBS,2025-07-31 07:33:00
1,69.7,47.0,61000.0,-1800.0,-0.029,0.070,11654016,VCB: Báo cáo tình hình quản trị công ty 06 thá...,TCBS,2025-07-29 17:49:55
2,70.3,42.0,62200.0,400.0,0.006,0.087,11637164,VCB: Nghị quyết HĐQT về việc phê duyệt tăng vố...,TCBS,2025-07-17 14:48:58
3,82.5,72.0,62400.0,-300.0,-0.005,0.102,11632597,"VCB: Thông báo thay đổi địa chỉ VPĐD, đơn vị s...",TCBS,2025-07-14 17:46:03
4,68.6,48.0,61500.0,2500.0,0.042,0.100,11626549,VCB: HĐQT phê duyệt giới hạn tín dụng đối với ...,TCBS,2025-07-09 09:38:45

#### Cổ tức

In [ ]:
company.dividends().head()

  exercise_date  cash_year  cash_dividend_percentage issue_method
0    2025-03-12       2025                     0.495        share
1    2023-07-25       2023                     0.181        share
2    2021-12-22       2022                     0.276        share
3    2021-12-22       2020                     0.120         cash
4    2020-12-21       2019                     0.080         cash

## Finance: Báo cáo tài chính

In [ ]:
from vnstock import Finance
finance = Finance(symbol='ACB', source='VCI')

### Bảng cân đối kế toán

In [ ]:
finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,Năm,TỔNG CỘNG TÀI SẢN (đồng),Tiền và tương đương tiền (đồng),Tiền gửi tại ngân hàng nhà nước Việt Nam,Tiền gửi tại các TCTD khác và cho vay các TCTD khác,Chứng khoán kinh doanh,_Chứng khoán kinh doanh,Dự phòng giảm giá chứng khoán kinh doanh,Các công cụ tài chính phái sinh và khoản nợ tài chính khác,...,Tiền gửi của khách hàng,_Các công cụ tài chính phái sinh và khoản nợ tài chính khác,"Vốn tài trợ, uỷ thác đầu tư của CP và các tổ chức TD khác",Phát hành giấy tờ có giá,Các khoản nợ khác,VỐN CHỦ SỞ HỮU (đồng),Vốn của tổ chức tín dụng,Quỹ của tổ chức tín dụng,Lãi chưa phân phối (đồng),Vốn góp của chủ sở hữu (đồng)
0,ACB,2024,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,55992000000,...,537304578000000,0,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,23733752000000,44666579000000
1,ACB,2023,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,0,...,482702731000000,117126000000,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,20286243000000,38840504000000
2,ACB,2022,607875185000000,8460892000000,13657531000000,85971313000000,1131327000000,1320941000000,-189614000000,100072000000,...,413952789000000,0,60188000000,44304367000000,22772462000000,58438663000000,34046130000000,9220125000000,15172408000000,33774351000000
3,ACB,2021,527769944000000,7509877000000,32349574000000,49818776000000,11259731000000,11325371000000,-65640000000,226545000000,...,379920669000000,0,86066000000,30547883000000,17920478000000,44900909000000,27291260000000,7164297000000,10445352000000,27019481000000
4,ACB,2020,444530104000000,6967918000000,16616798000000,31671245000000,6167917000000,6285763000000,-117846000000,54473000000,...,353195838000000,0,116705000000,22049697000000,9844459000000,35448163000000,21887364000000,5741759000000,7819040000000,21615585000000
5,ACB,2019,383514439000000,6437812000000,10420306000000,30341599000000,2985262000000,3145903000000,-160641000000,87753000000,...,308129391000000,0,156147000000,20830836000000,7384134000000,27765359000000,16799171000000,4595902000000,6370286000000,16627373000000
6,ACB,2018,329333241000000,6129169000000,10683536000000,18769776000000,1177972000000,1339157000000,-161185000000,0,...,269998503000000,38198000000,160093000000,8290918000000,6035148000000,21017899000000,12220152000000,3693069000000,5104678000000,12885877000000
7,ACB,2017,284316123000000,4851710000000,8314574000000,8941727000000,1236555000000,1239991000000,-3436000000,0,...,241392932000000,10491000000,136466000000,6761000000000,4530641000000,16030847000000,9607514000000,2913780000000,3509553000000,10273239000000
8,ACB,2016,233680877000000,3541388000000,5119306000000,8152027000000,1183306000000,1211314000000,-28008000000,16065000000,...,207051269000000,0,122697000000,6615000000000,3594080000000,14062716000000,8711240000000,2590181000000,2761295000000,9376965000000
9,ACB,2015,201456985000000,2806088000000,4608680000000,10122200000000,100457000000,103034000000,-2577000000,47603000000,...,174918997000000,0,161678000000,3075000000000,2901457000000,12787542000000,8711240000000,2374178000000,1702124000000,9376965000000
10,ACB,2014,179609771000000,2496287000000,3357730000000,4559007000000,1105122000000,1108232000000,-3110000000,14403000000,...,154613588000000,0,188155000000,3078000000000,3187487000000,12397303000000,8711841000000,2207666000000,1477796000000,9376965000000
11,ACB,2013,166598989000000,2043490000000,3065322000000,7215519000000,851161000000,1078309000000,-227148000000,150000000,...,138110836000000,0,363345000000,3500000000000,2743684000000,12504202000000,9117544000000,2034952000000,1351706000000,9376965000000
12,ACB,2011,281019319000000,8709990000000,5075817000000,81274021000000,850459000000,1048787000000,-198328000000,1016447000000,...,142218091000000,0,332318000000,50708499000000,34556973000000,11959092000000,9376965000000,1753237000000,828890000000,9376965000000
13,ACB,2010,205102950000000,10884762000000,2914353000000,33961250000000,978355000000,1167950000000,-189595000000,78172000000,...,106936611000000,0,379768000000,38234151000000,10594023000000,11376757000000,9376965000000,1209552000000,790240000000,9376965000000

In [ ]:
finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,TOTAL ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Balances with the SBV,Placements with and loans to other credit institutions,"Trading Securities, net",Trading Securities,Provision for diminution in value of Trading Securities,...,"Funds received from Gov, international and other institutions",Convertible bonds/CDs and other valuable papers issued,Other liabilities,OWNER'S EQUITY(Bn.VND),Capital,Reserves,Foreign Currency Difference reserve,Undistributed earnings (Bn. VND),Paid-in capital (Bn. VND),MINORITY INTERESTS
0,ACB,2025,2,933541420000000,6666091000000,5439937000000,125447269000000,4958406000000,5160049000000,-201643000000,...,24547000000,139552843000000,21741640000000,87210629000000,51638345000000,14789568000000,-243816000000,21026532000000,51366566000000,0
1,ACB,2025,1,891674563000000,5857654000000,13457514000000,129347480000000,4307534000000,4479661000000,-172127000000,...,26725000000,114051801000000,20047729000000,87074577000000,44938358000000,14789568000000,-65367000000,27412018000000,44666579000000,0
2,ACB,2024,4,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,...,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,0,23733752000000,44666579000000,0
3,ACB,2024,3,777392922000000,5870526000000,8392393000000,92090423000000,6965867000000,7059448000000,-93581000000,...,31641000000,90366104000000,22478444000000,78854261000000,44938358000000,11557435000000,-62053000000,22420521000000,44666579000000,0
4,ACB,2024,2,769678700000000,6594138000000,15724945000000,105419092000000,6125105000000,6236053000000,-110948000000,...,33175000000,66953215000000,22365462000000,74792678000000,44938358000000,11557435000000,-253241000000,18550126000000,44666579000000,0

### Báo cáo lãi lỗ

In [ ]:
finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,Năm,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),Thu nhập lãi và các khoản tương tự,Chi phí lãi và các khoản tương tự,Thu nhập lãi thuần,Thu nhập từ hoạt động dịch vụ,...,Chi phí quản lý DN,LN từ HĐKD trước CF dự phòng,Chi phí dự phòng rủi ro tín dụng,LN trước thuế,Thuế TNDN,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Lợi nhuận thuần,Cổ đông của Công ty mẹ,Lãi cơ bản trên cổ phiếu
0,ACB,2024,50902749000000,-0.027586,16789768000000,0.046435,50902749000000,-23108047000000,27794702000000,5464958000000,...,-10902603000000,22612156000000,-1606285000000,21005871000000,-4216103000000,-4199699000000,-16404000000,16789768000000,16789768000000,3669
1,ACB,2023,52346796000000,0.286199,16044733000000,0.172159,52346796000000,-27387226000000,24959570000000,4945751000000,...,-10874286000000,21872230000000,-1804231000000,20067999000000,-4023266000000,-3993022000000,-30244000000,16044733000000,16044733000000,3559
2,ACB,2022,40698834000000,0.207186,13688193000000,0.425446,40698834000000,-17165305000000,23533529000000,5057559000000,...,-11605045000000,17185022000000,-70814000000,17114208000000,-3426015000000,-3445611000000,19596000000,13688193000000,13688193000000,3486
3,ACB,2021,33713810000000,0.058327,9602746000000,0.249898,33713810000000,-14769018000000,18944792000000,4026460000000,...,-8229776000000,15334221000000,-3336109000000,11998112000000,-2395366000000,-2389079000000,-6287000000,9602746000000,9602746000000,2799
4,ACB,2020,31855748000000,0.124948,7682823000000,0.278353,31855748000000,-17273625000000,14582123000000,2803484000000,...,-7624268000000,10537041000000,-941153000000,9595888000000,-1913065000000,-1940681000000,27616000000,7682823000000,7682823000000,2808

In [ ]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2025,2,14298695000000,0.146214,4881159000000,0.092326,14298695000000,-7614847000000,6683848000000,...,-2736160000000,6556384000000,-463039000000,6093345000000,-1212186000000,-1210700000000,-1486000000,4881159000000,4881159000000,0
1,ACB,2025,1,13327306000000,0.111758,3678266000000,-0.058164,13327306000000,-6968441000000,6358865000000,...,-2691892000000,5222736000000,-626128000000,4596608000000,-918342000000,-958551000000,40209000000,3678266000000,3678266000000,0
2,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
3,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0
4,ACB,2024,2,12474712000000,-0.081634,4468590000000,0.155915,12474712000000,-5363206000000,7111506000000,...,-2465618000000,6186393000000,-588150000000,5598243000000,-1129653000000,-1075344000000,-54309000000,4468590000000,4468590000000,779

### Báo cáo lưu chuyển tiền tệ

In [ ]:
finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Profits from other activities,Operating profit before changes in working capital,Net Cash Flows from Operating Activities before BIT,Payment from reserves,Purchase of fixed assets,Gain on Dividend,Net Cash Flows from Investing Activities,Increase in charter captial,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Foreign exchange differences Adjustment,Cash and Cash Equivalents at the end of period,Net cash inflows/outflows from operating activities,Proceeds from disposal of fixed assets,Investment in other entities,Proceeds from divestment in other entities,Dividends paid
0,ACB,2024,-164089000000,16709886000000,8371480000000,-1249000000,-919740000000,35058000000,-733310000000,0,-3884051000000,3752870000000,136071738000000,0,139824608000000,8370231000000,147865000000,0,3507000000,-3884051000000
1,ACB,2023,-18340000000,19421985000000,37137701000000,-1500000000,-1276249000000,74955000000,-1197256000000,0,-3377435000000,32561510000000,103510228000000,0,136071738000000,37136201000000,4038000000,0,0,-3377435000000
2,ACB,2022,152049000000,16413910000000,21476002000000,-201463000000,-511513000000,59599000000,-365878000000,0,0,20908661000000,82601567000000,0,103510228000000,21274539000000,4741000000,-10520000000,6451000000,0
3,ACB,2021,-94964000000,12326573000000,39927382000000,-1483000000,-636100000000,21979000000,-462403000000,0,-2884000000000,36579496000000,46022071000000,0,82601567000000,39925899000000,3265000000,0,0,0
4,ACB,2020,67987000000,9688384000000,10880417000000,-1156000000,-423132000000,17573000000,-395503000000,0,-140600000000,10343158000000,35678913000000,0,46022071000000,10879261000000,3336000000,0,0,0

In [ ]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2025,2,14298695000000,0.146214,4881159000000,0.092326,14298695000000,-7614847000000,6683848000000,...,-2736160000000,6556384000000,-463039000000,6093345000000,-1212186000000,-1210700000000,-1486000000,4881159000000,4881159000000,0
1,ACB,2025,1,13327306000000,0.111758,3678266000000,-0.058164,13327306000000,-6968441000000,6358865000000,...,-2691892000000,5222736000000,-626128000000,4596608000000,-918342000000,-958551000000,40209000000,3678266000000,3678266000000,0
2,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
3,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0
4,ACB,2024,2,12474712000000,-0.081634,4468590000000,0.155915,12474712000000,-5363206000000,7111506000000,...,-2465618000000,6186393000000,-588150000000,5598243000000,-1129653000000,-1075344000000,-54309000000,4468590000000,4468590000000,779

### Chỉ số tài chính

In [ ]:
finance.ratio(period='year', lang='vi', dropna=True).head()

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

  Meta          Chỉ tiêu cơ cấu nguồn vốn                      \
    CP   Năm Kỳ            TSCĐ / Vốn CSH Vốn CSH/Vốn điều lệ
0  ACB  2024  5                  0.064849            1.624825
1  ACB  2023  5                  0.067120            1.381365
2  ACB  2022  5                  0.068129            1.137679
3  ACB  2021  5                  0.083797            0.874127
4  ACB  2020  5                  0.106712            0.690102

  Chỉ tiêu khả năng sinh lợi                                         \
     Biên lợi nhuận ròng (%)   ROE (%)   ROA (%) Tỷ suất cổ tức (%)
0                   0.604064  0.217459  0.021215           0.043478
1                   0.642829  0.247997  0.024188           0.038760
2                   0.581646  0.264917  0.024106           0.041841
3                   0.506881  0.239026  0.019753           0.000000
4                   0.526866  0.243075  0.018557           0.000000

  Chỉ tiêu thanh khoản Chỉ tiêu định giá                                      \
     Đòn bẩy tài chính Vốn hóa (Tỷ đồng) Số CP lưu hành (Triệu CP)       P/E
0            10.352125   102733131700000                4466657900  6.155456
1            10.130151   100208500320000                3884050400  6.405255
2            10.401935    80720698890000                3377435100  5.962443
3            11.754104    59172663390000                2701948100  6.259839
4            12.540286    74573768250000                2161558500  9.899843


        P/B       P/S P/Cash Flow    EPS (VND)    BVPS (VND)
0  1.230902  3.065310   12.273632  3758.910661  18685.486972
1  1.412263  3.060127    2.698405  4130.928116  18268.547957
2  1.381289  2.803769    3.794240  4052.836722  17302.675335
3  1.317850  2.511147    1.482062  3554.008310  16617.976119
4  2.103741  4.106189    6.854672  3554.297975  16399.353985

In [ ]:
finance.ratio(period='quarter', lang='en', dropna=True).head()

Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

    Meta                         Chỉ tiêu cơ cấu nguồn vốn  \
  ticker yearReport lengthReport               Debt/Equity
0    ACB       2025            2                  9.704445
1    ACB       2025            1                  9.240355
2    ACB       2024            4                  9.352125
3    ACB       2024            3                  8.858604
4    ACB       2024            2                  9.290830

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.061880                       1.697809
1              0.061005                       1.695161
2              0.064849                       1.624825
3              0.058881                       1.535128
4              0.062380                       1.456058

  Chỉ tiêu khả năng sinh lợi                                                  \
       Net Profit Margin (%)   ROE (%) ROIC (%)   ROA (%) Dividend yield (%)
0                   0.730292  0.201725      0.0  0.019587           0.043478
1                   0.578447  0.204361      0.0  0.020059           0.044053
2                   0.641974  0.217459      0.0  0.021215           0.041494
3                   0.562444  0.217115      0.0  0.021717           0.040568
4                   0.628361  0.228530      0.0  0.022928           0.038536

  Chỉ tiêu thanh khoản        Chỉ tiêu định giá  \
    Financial Leverage Market Capital (Bn. VND)
0            10.704445             1.181431e+14
1            10.240355             1.166021e+14
2            10.352125             1.076465e+14
3             9.858604             1.101031e+14
4            10.290830             1.159098e+14

                                                                             \
  Outstanding Share (Mil. Shares)       P/E       P/B       P/S P/Cash Flow
0                    5.136657e+09  6.959754  1.354687  3.484896   10.557569
1                    5.136657e+09  7.040078  1.339106  3.505677    8.617451
2                    4.466658e+09  6.411432  1.289771  3.211912   12.860632
3                    4.466658e+09  6.775292  1.396286  3.302936  -21.381995
4                    4.466658e+09  7.059978  1.549748  3.447304    7.010521


     EPS (VND)    BVPS (VND)
0   950.259942  16978.092134
1   716.081741  16951.605645
2  1017.620801  18685.486922
3   866.508042  17653.973632
4  1000.432558  16744.662223

## New - Bộ lọc cổ phiếu

Hàm này chỉ tồn tại với nguồn dữ liệu TCBS

In [ ]:
from vnstock import Screener

screener = Screener()
screener_df = screener.stock(params={"exchangeName": "HOSE,HNX,UPCOM"}, limit=1700)
screener_df

,ticker,exchange,industry,market_cap,roe,stock_rating,business_operation,business_model,financial_health,alpha,...,nim,price_vs_sma200,eps_ttm_growth1_year,eps_ttm_growth5_year,equity_mi,eps_recently,percent_price_vs_ma200,percent_price_vs_ma20,percent_price_vs_ma50,percent_price_vs_ma100
0,A32,UPCOM,Hàng cá nhân & Gia dụng,NaN,NaN,NaN,1.7,3.5,2.6,0.1,...,NaN,None,NaN,NaN,NaN,NaN,-0.3,-3.8,-5.5,-4.0
1,AAA,HSX,Hóa chất,3253.0,4.9,2.7,1.5,3.0,4.0,-0.1,...,NaN,None,-42.91,6.35,5249.0,692.0,8.4,8.4,14.0,15.5
2,AAH,UPCOM,Tài nguyên Cơ bản,473.0,2.1,2.5,1.1,NaN,4.4,0.0,...,NaN,"{'vi': 'Giá cắt lên SMA(200)', 'en': 'Price cr...",NaN,NaN,1205.0,209.0,-1.3,-4.9,-2.6,-3.6
3,AAM,HSX,Thực phẩm và đồ uống,75.0,-0.1,NaN,1.1,NaN,4.2,0.0,...,NaN,None,NaN,NaN,199.0,-26.0,3.1,-1.1,1.7,2.5
4,AAS,UPCOM,Dịch vụ tài chính,2429.0,2.6,3.0,3.8,2.8,3.2,0.1,...,NaN,None,-22.51,NaN,2541.0,285.0,31.5,9.7,15.6,23.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1621,XPH,UPCOM,Hàng cá nhân & Gia dụng,203.0,-1.2,NaN,1.1,NaN,4.2,0.6,...,NaN,None,NaN,NaN,146.0,-136.0,79.7,17.2,24.2,47.4
1622,YBC,UPCOM,Xây dựng và Vật liệu,121.0,-84.4,NaN,2.5,3.5,1.6,0.3,...,NaN,"{'vi': 'Giá cắt xuống SMA(200)', 'en': 'Price ...",NaN,NaN,NaN,-1674.0,13.1,-1.8,4.3,-4.7
1623,YBM,HSX,Tài nguyên Cơ bản,207.0,8.3,NaN,2.1,3.7,2.6,0.2,...,NaN,None,3.96,85.11,198.0,1108.0,9.9,-0.5,-0.6,-2.9
1624,YEG,HSX,Truyền thông,2666.0,8.8,2.9,1.6,3.0,4.8,0.2,...,NaN,"{'vi': 'Giá cắt xuống SMA(200)', 'en': 'Price ...",201.46,NaN,2046.0,787.0,7.2,6.8,10.3,9.7
1625,YTC,UPCOM,Y tế,NaN,NaN,NaN,1.4,3.5,2.4,0.1,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN